<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <h2>Reestrablecer mi contraseña</h2>
      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">        
        <%= f.email_field :email, :autofocus => true, class: 'form-control', placeholder: t('.email') %>
      </div>
      <div class="help-block">
        Se le enviara un correo con las instrucciones para la recuperacion
        de su contraseña de su cuenta con nosotros.
      </div>
      <%= f.submit t('.send_instrutions'), class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
