<div id="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3 id="slogan">Crea un espacio para tu negocio, ofreciendo
          tus servicios de comida en internet.
          <br><a href="#" class="btn btn-primary btn-lg">Suscripcion por $299 MXN</a>
          </h3>
      </div>
    </div>
  </div>
</div>