<div id="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3 id="slogan">Crea un espacio para tu negocio, ofreciendo
          tus servicios de comida en internet.
          <br>
          <%= link_to "Suscripcion por $299 MXN", new_user_registration_path, class: 'btn btn-primary btn-lg' %>
          </h3>
      </div>
    </div>
  </div>
</div>