body {
  font-family: 'Open Sans', sans-serif !important;
}

@media (min-width: 1024px) {
    .container{
        max-width: 1024px;
    }
}

.logo {
  font-size: x-large;
  font-style: inherit;
  font-weight: bold;
}

.navbar-default {
  background-color: #d9edf7 !important;
}

