@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300|Open+Sans+Condensed:300,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

@media (min-width: 1024px) {
  .container{
    max-width: 1024px;
  }
}

.logo {
  font-size: x-large;
  font-style: inherit;
  font-weight: bold;
}

.navbar-default {
  background-color: #d9edf7 !important;
}

.jumbotron {  
  background: url('buffet.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 30px;

  h1 {
    text-shadow: 0.1em 0.1em #333;
    font-size: 40px;
    font-weight: bold;
    color: white;
  }

  .shadow {
    text-shadow: #333 0.1em 0.1em 0.2em;
    color: white;
  }
}

.choose {
  font-weight: 300;
  border-bottom: 1px solid #eee;
  padding: 10px;
}

.footer {
  background-color: #2d2d2d;
  margin: 0;
  padding: 15px;
  color: #ffffff;
}

.options {
  padding: 20px 0px;
}

#hero {
  background: image-url('food.jpg') no-repeat;
  background-size: 100%;
  min-height: 350px;
  margin-top: -20px;
  opacity: 0.95;
}

#slogan {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  top: 60px;
  font-weight: 100;
  color: white;
  text-transform: uppercase;
  font-size: 43px;
  letter-spacing: 2px;
}