<div class="container">
  <div class="row">
    <div class="col-lg-3 col-lg-offset-2">
     <%= display_alert %>
     <h2>Elige tu cuenta</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-2">
      <div class="consumer">
        <h3>Consumidor</h3>
        <p>Si en estos momentos estas hambriento
        crea tu cuenta y encuentra a tu vendedor 
        mas cercano para que disfrutes la variedad
        de comida en nuestro sitio.
        </p>
      </div>
      <%= link_to content_tag(:div, "Elegir"), wizard_path(:account, type: :consumer), method: :put, class: 'btn-account' %>
    </div>
    <div class="col-lg-4">
      <div class="seller">
        <h3>Vendedor</h3>
        <p>Tus servicio de comida es muy buena
        y necesitas aumentar tus ventas un 30%,
        con este cuenta podras ofrecer tus servicios
        de comida a tus consumidores <b>!Es hora de invitarlos¡</b>
        </p>
      </div>
      <%= link_to content_tag(:div, "Elegir"), wizard_path(:account, type: :seller), method: :put, class: 'btn-account' %>
    </div>
  </div>
</div>