<div class="container">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-2">
      <div class="form-setting">
        <%= @user.inspect %>
        <%= @user.address.inspect %>
      </div>
    </div>
  </div>
</div>