<div class="jumbotron">
  <h1>SellFood</h1>
  <p>Es un sitio enfocado para aquellas pequeñas y medianas empresas que ofrecen
  sus servicios de comida a sus usuarios en linéa.</p>
  <p>Si eres una empresa reconocida por tus clientes por solo $299 pesos MXN vende en linea.</p>
  <p>
    <a class="btn btn-lg btn-primary" href="#" role="button">Registrarme</a>
  </p>
</div>