<div class="jumbotron">
  <h1>SellFood</h1>
  <p class="shadow">Es un sitio enfocado para aquellas pequeñas y medianas empresas que ofrecen
  sus servicios de comida a sus usuarios en linéa.</p>
  <p class="shadow">Si eres una empresa reconocida por tus clientes comienza a vender en linéa.</p>
  <p>
    <a class="btn btn-lg btn-primary" href="#" role="button">Registrarme</a>
  </p>
</div>