<div class="row">
  <h3 class="container choose">Elegir un plan</h3>
  <div class="col-lg-3">
    <h2>Pro</h2>
    <p>- 5 Platillos</p>
    <p>- Administrador de ventas</p>    
    <p>- Control de pedidos</p>
    <p>- Reportes de venta</p>
    <p><a class="btn btn-primary" href="#" role="button">Contratar por $199 MXN</a></p>
  </div>
  <div class="col-lg-3">
    <h2>Lite</h2>
    <p>- 25 Platillos</p>
    <p>- Administrador de ventas</p>    
    <p>- Control de pedidos</p>
    <p>- Reportes de venta</p>
    <p><a class="btn btn-primary" href="#" role="button">Contratar por $299 MXN</a></p>
  </div>
</div>